In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

In [2]:
corpus = ['this is the first document',
          'this is the second document or second sentence',
          'and this is the third one',
          'is this the first document or document one']

In [3]:
#bag of 2-gram model

bigram_vect = CountVectorizer(ngram_range=(2,2))
bigram_vect_matrix = bigram_vect.fit_transform(corpus)

bigram_vect_matrix = bigram_vect_matrix.toarray()
bigram_vocab = bigram_vect.get_feature_names()
pd.DataFrame(bigram_vect_matrix, columns=bigram_vocab)

,and this,document one,document or,first document,is the,is this,or document,or second,second document,second sentence,the first,the second,the third,third one,this is,this the
0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,1,0
1,0,0,1,0,1,0,0,1,1,1,0,1,0,0,1,0
2,1,0,0,0,1,0,0,0,0,0,0,0,1,1,1,0
3,0,1,1,1,0,1,1,0,0,0,1,0,0,0,0,1